= haml :vcard, :locals => { :name => @cv.name, :contact_details => @cv["contact"] } if @cv["contact"]

#download-links
  = link_to "pdf", @cv.link+".pdf"
  = link_to "html", @cv.link
  = link_to "yaml", @cv.link+".yaml"
  
= Vitae::Nodes::BaseNode.new(@cv.except(%w[vitae_config contact]))

%br
%br
- unless CV.size==1
  = link_to "Vitae Home", "/"

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '#{@cv.ga_tracking_id}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
