.vcard
  %h1#title.fn= name
  
  %ul#quick-links
    - contact_details.each do |key, value|
      - case value
      - when /^https?:\/\//
        %li
          %span.label= key
          = link_to value.sub(/^https?:\/\//, ''), value, :class => "url"
      - when Hash
        - case key
        - when "phones"
          - value.each do |phone, number|          
            %li.tel
              %span.label.type= phone
              %span.value= number
        - when "address"
          %li
            %span.label= key
            %span.adr
              - value.each_with_index do |(address_field, address_value), i|
                = succeed "#{', ' if i<value.size-1}" do
                  %span{:class => address_field}= address_value
      - else
        - case key
        - when "nickname"
          %li.nick
            %span.label= key
            %span.fn.nickname= value
        - when /e-?mail/
          %li
            %span.label= key
            - mailto_less = value.sub(/^mailto:/, '')
            = link_to mailto_less, "mailto:#{mailto_less}", :class => "email"
        - else
          %li
            %span.label= key
            = value